{
  "openapi": "3.0.1",
  "info": {
    "title": "UK Parliament Query Service",
    "description": "This application programming interface exposes content-negotiated results of SPARQL queries about the UK Parliament. Currently throttled at 10 requests per second per IP address for unauthenticated clients.",
    "contact": {
      "name": "Data & Search team at UK Parliament",
      "email": "data@parliament.uk",
      "url": "https://twitter.com/UKParliData"
    },
    "license": {
      "name": "Open Parliament Licence",
      "url": "https://www.parliament.uk/site-information/copyright-parliament/open-parliament-licence"
    },
    "version": "Live"
  },
  "servers": [
    {
      "url": "https://api.parliament.uk/query"
    }
  ],
  "components": {
    "responses": {
      "graphResponse": {
        "description": "OK",
        "content": {
          "application/n-triples": {},
          "text/turtle": {},
          "text/vnd.graphviz": {},
          "application/rdf+xml": {},
          "application/xml": {},
          "text/xml": {},
          "application/ld+json": {},
          "application/json": {},
          "application/rdf+json": {},
          "text/html": {},
          "application/xhtml+xml": {},
          "application/graphml+xml": {}
        }
      },
      "nonGraphResponse": {
        "description": "OK",
        "content": {
          "application/sparql-results+xml": {},
          "application/sparql-results+json": {},
          "text/csv": {},
          "text/tab-separated-values": {},
          "text/html": {},
          "application/xhtml+xml": {}
        }
      },
      "badRequest": {
        "description": "Bad request"
      },
      "notAcceptable": {
        "description": "Not acceptable"
      }
    },
    "parameters": {
      "formatGraph": {
        "name": "format",
        "in": "query",
        "required": false,
        "description": "Content type",
        "schema": {
          "type": "string",
          "enum": [ "application/n-triples", "text/turtle", "text/vnd.graphviz", "application/rdf+xml", "application/xml", "text/xml", "application/ld+json", "application/json", "application/rdf+json", "text/html", "application/xhtml+xml", "application/graphml+xml" ]
        }
      },
      "formatNonGraph": {
        "name": "format",
        "in": "query",
        "required": false,
        "description": "Content type",
        "schema": {
          "type": "string",
          "enum": [ "application/sparql-results+xml", "application/sparql-results+json", "text/csv", "text/tab-separated-values", "text/html", "application/xhtml+xml" ]
        }
      },
      "fileExtensionGraph": {
        "name": "ext",
        "in": "path",
        "required": true,
        "description": "Content type",
        "allowEmptyValue": true,
        "schema": {
          "type": "string",
          "enum": [ "", ".nt", ".ttl", ".gv", ".dot", ".xml", ".rdf", ".rdfxml", ".json", ".jsonld", "rj", ".html", ".htm", ".xhtml", ".graphml" ],
          "default": ""
        }
      },
      "fileExtensionNonGraph": {
        "name": "ext",
        "in": "path",
        "required": true,
        "description": "Content type",
        "allowEmptyValue": true,
        "schema": {
          "type": "string",
          "enum": [ "", ".srx", ".srj", ".csv", ".tsv", ".html", ".htm", ".xhtml" ]
        }
      }
    }
  },
  "paths": {
    "/class_count{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "class",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/transclusion{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "subject",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/answering_body_index_table{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionNonGraph"
          },
          {
            "$ref": "#/components/parameters/formatNonGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/nonGraphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/collection_by_id{ext}": {
      "x-type": "hardCoded",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "collection_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/collection_index{ext}": {
      "x-type": "hardCoded",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/committee_by_id{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "committee_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/committee_index{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/concept_by_id{ext}": {
      "x-type": "hardCoded",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "concept_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "ybLgLU6L",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/concept_index{ext}": {
      "x-type": "hardCoded",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/constituency_a_to_z{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/constituency_by_id{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "constituency_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "AEyWGYaP",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/constituency_by_initial{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "x-type": "literal",
            "required": true,
            "example": "a",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/constituency_by_substring{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "substring",
            "in": "query",
            "description": "literal",
            "x-type": "literal",
            "required": true,
            "example": "nottingham",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/constituency_contact_point{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "constituency_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "AEyWGYaP",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/constituency_current_a_to_z{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/constituency_current_by_initial{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "x-type": "literal",
            "required": true,
            "example": "a",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/constituency_current_by_proximity_to_point{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "border_range",
            "in": "query",
            "description": "literal",
            "x-type": "literal",
            "required": true,
            "example": "10",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "centre_point_range",
            "in": "query",
            "description": "literal",
            "x-type": "literal",
            "required": true,
            "example": "20",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "literal",
            "x-type": "literal",
            "required": true,
            "example": "51.496130",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "literal",
            "x-type": "literal",
            "required": true,
            "example": "-0.125718",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/constituency_current_member{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "constituency_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "AEyWGYaP",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/constituency_current{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/constituency_index{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/constituency_lookup_by_postcode{ext}": {
      "x-type": "hardCoded",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/constituency_lookup{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "property",
            "in": "query",
            "description": "schemaUri",
            "x-type": "schemaUri",
            "required": true,
            "example": "onsCode",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "literal",
            "x-type": "literal",
            "required": true,
            "example": "E14000699",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/constituency_map{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "constituency_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "AEyWGYaP",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/constituency_members{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "constituency_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "AEyWGYaP",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/contact_point_by_id{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "contact_point_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "wk1atnfh",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/contact_point_index{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/exists{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionNonGraph"
          },
          {
            "$ref": "#/components/parameters/formatNonGraph"
          },
          {
            "name": "uri",
            "in": "query",
            "description": "uri",
            "x-type": "uri",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/nonGraphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/external_id_by_class{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "class",
            "in": "query",
            "description": "schemaUri",
            "x-type": "schemaUri",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/find_your_constituency{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/formal_body_by_id{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "formal_body_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "cLjFRjRt",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/formal_body_index{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/formal_body_membership_and_party_affiliation_dataset{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionNonGraph"
          },
          {
            "$ref": "#/components/parameters/formatNonGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/nonGraphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/formal_body_membership_and_party_affiliation{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/formal_body_membership{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "formal_body_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "cLjFRjRt",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/government_position_index{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionNonGraph"
          },
          {
            "$ref": "#/components/parameters/formatNonGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/nonGraphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/group_a_to_z{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/group_by_id{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "tz34m7Vt",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/group_by_initial{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "x-type": "literal",
            "required": true,
            "example": "c",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/group_by_substring{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "substring",
            "in": "query",
            "description": "literal",
            "x-type": "literal",
            "required": true,
            "example": "sport",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/group_current_a_to_z{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/group_current_by_initial{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "x-type": "literal",
            "required": true,
            "example": "C",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/group_current_memberships{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "tz34m7Vt",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/group_current{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/group_houses_index{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "tz34m7Vt",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/group_index{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/group_laid_papers_index{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "XouN12Ow",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/group_laid_papers_paper_type_proposed_negative_statutory_instruments{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "XouN12Ow",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/group_laid_papers_paper_type_statutory_instruments{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "XouN12Ow",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/group_laid_papers_paper_type_treaties{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "XouN12Ow",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/group_lookup{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "property",
            "in": "query",
            "description": "schemaUri",
            "x-type": "schemaUri",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "literal",
            "x-type": "literal",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/group_memberships_a_to_z{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "tz34m7Vt",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/group_memberships_by_initial{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "tz34m7Vt",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "x-type": "literal",
            "required": true,
            "example": "c",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/group_memberships_index{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "tz34m7Vt",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/group_positions_chairs_current{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "tz34m7Vt",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/group_positions_chairs_index{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "tz34m7Vt",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/group_positions_current{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "wZVxomZk",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/group_positions_index{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "wZVxomZk",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/group_questions_written_answered{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "wZVxomZk",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/groups_committees_a_to_z{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/groups_committees_by_initial{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "x-type": "literal",
            "required": true,
            "example": "C",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/groups_committees_current_a_to_z{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/groups_committees_current_by_initial{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "x-type": "literal",
            "required": true,
            "example": "C",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/groups_committees_current{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/groups_committees_index{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/groups_government_organisation_a_to_z{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/groups_government_organisation_by_initial{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "x-type": "literal",
            "required": true,
            "example": "h",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/groups_government_organisation_current_a_to_z{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/groups_government_organisation_current_by_initial{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "x-type": "literal",
            "required": true,
            "example": "h",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/groups_government_organisation_current{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/groups_government_organisation_index{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/house_by_id{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/house_by_substring{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "substring",
            "in": "query",
            "description": "literal",
            "x-type": "literal",
            "required": true,
            "example": "house",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/house_committees_a_to_z{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/house_committees_by_initial{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "x-type": "literal",
            "required": true,
            "example": "c",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/house_committees_index{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/house_current_committees_a_to_z{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/house_current_committees_by_initial{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "x-type": "literal",
            "required": true,
            "example": "c",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/house_current_committees{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/house_current_members_a_to_z{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/house_current_members_by_initial{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "x-type": "literal",
            "required": true,
            "example": "c",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/house_current_members_with_mnis_id{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/house_current_members{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/house_current_parties{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/house_index{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/house_laid_papers{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/house_lookup{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "property",
            "in": "query",
            "description": "schemaUri",
            "x-type": "schemaUri",
            "required": true,
            "example": "name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "literal",
            "x-type": "literal",
            "required": true,
            "example": "House of Lords",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/house_members_a_to_z{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/house_members_by_initial{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "x-type": "literal",
            "required": true,
            "example": "a",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/house_members{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/house_parties{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/house_party_by_id{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "party_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1cIxOTTd",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/house_party_current_members_a_to_z{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "party_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1cIxOTTd",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/house_party_current_members_by_initial{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "party_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1cIxOTTd",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "x-type": "literal",
            "required": true,
            "example": "a",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/house_party_current_members{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "party_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1cIxOTTd",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/house_party_members_a_to_z{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "party_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1cIxOTTd",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/house_party_members_by_initial{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "party_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1cIxOTTd",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "x-type": "literal",
            "required": true,
            "example": "a",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/house_party_members{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "party_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "1cIxOTTd",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/image_by_id{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "image_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "qnsCGpnw",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/instances_by_name{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionNonGraph"
          },
          {
            "$ref": "#/components/parameters/formatNonGraph"
          },
          {
            "name": "class_name",
            "in": "query",
            "description": "schemaUri",
            "x-type": "schemaUri",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/nonGraphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/instances_by_uri{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionNonGraph"
          },
          {
            "$ref": "#/components/parameters/formatNonGraph"
          },
          {
            "name": "class_uri",
            "in": "query",
            "description": "uri",
            "x-type": "uri",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/nonGraphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/label{ext}": {
      "summary": "Returns a dataset mapping labels to resources",
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionNonGraph"
          },
          {
            "$ref": "#/components/parameters/formatNonGraph"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Comma delimited list of local identifiers to get labels for",
            "x-type": "instanceUris",
            "required": true,
            "example": "WkUWUBMx,1AFu55Hs",
            "examples": {
              "relative single": {
                "value": "1AFu55Hs"
              },
              "relative multiple": {
                "value": "WkUWUBMx,1AFu55Hs"
              },
              "absolute single": {
                "value": "https://id.parliament.uk/1AFu55Hs"
              },
              "absolute multiple": {
                "value": "https://id.parliament.uk/1AFu55Hs,https://id.parliament.uk/WkUWUBMx"
              }
            },
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/nonGraphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/laid_paper_by_id{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "laid_paper_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "Mcvmer52",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/laid_paper_index{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/laying_body_index{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/member_a_to_z{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/member_by_initial{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "x-type": "literal",
            "required": true,
            "example": "a",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/member_current_a_to_z{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/member_current_by_initial{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "x-type": "literal",
            "required": true,
            "example": "a",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/member_current{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/member_index{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/mnis_id_image_table{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
    "/next_parliament_by_id{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "parliament_id",
            "in": "query",
            "description": "instanceUri",
            "x-type": "instanceUri",
            "required": true,
            "example": "b0t56VVL",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/graphResponse"
          },
          "400": {
            "$ref": "#/components/responses/badRequest"
          },
          "406": {
            "$ref": "#/components/responses/notAcceptable"
          }
        }
      }
    },
[...]
