{
  "openapi": "3.0.0",
  "info": {
    "title": "Fixed Query API",
    "version": "Live"
  },
  "servers": [
    {
      "url": "https://api.parliament.uk/query"
    }
  ],
  "components": {
    "parameters": {
      "Ocp-Apim-Subscription-Key": {
        "name": "Ocp-Apim-Subscription-Key",
        "in": "header",
        "required": true,
        "description": "Subscription key",
        "schema": {
          "type": "string"
        }
      },
      "formatGraph": {
        "name": "format",
        "in": "query",
        "required": false,
        "description": "Content type",
        "schema": {
          "type": "string",
          "enum": [ "application/n-triples", "text/turtle", "text/vnd.graphviz", "application/rdf+xml", "application/xml", "text/xml", "application/json+ld", "application/json", "application/json+rdf", "text/html", "application/xhtml+xml" ]
        }
      },
      "formatNonGraph": {
        "name": "format",
        "in": "query",
        "required": false,
        "description": "Content type",
        "schema": {
          "type": "string",
          "enum": [ "application/sparql-results+xml", "application/sparql-results+json", "text/csv", "text/tab-separated-values", "text/html", "application/xhtml+xml" ]
        }
      },
      "fileExtensionGraph": {
        "name": "ext",
        "in": "path",
        "required": true,
        "description": "Content type",
        "allowEmptyValue": true,
        "schema": {
          "type": "string",
          "enum": [ "", "nt", "ttl", "gv", "dot", "xml", "rdf", "rdfxml", "json", "jsonld", "rj", "html", "htm", "xhtml" ],
          "default": ""
        }
      },
      "fileExtensionNonGraph": {
        "name": "ext",
        "in": "path",
        "required": true,
        "description": "Content type",
        "allowEmptyValue": true,
        "schema": {
          "type": "string",
          "enum": [ "", "srx", "srj", "csv", "tsv", "html", "htm", "xhtml" ]
        }
      }
    },
    "schemas": {
      "RdfXml": {
        "type": "object",
        "xml": {
          "name": "RDF",
          "prefix": "rdf",
          "namespace": "http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        }
      },
      "HouseJson": {
        "type": "object",
        "properties": {
          "@context": {
            "type": "object",
            "properties": {
              "@base": {
                "type": "string"
              },
              "@vocab": {
                "type": "string"
              },
              "rdf": {
                "type": "string"
              },
              "rdfs": {
                "type": "string"
              },
              "xsd": {
                "type": "string"
              }
            }
          },
          "@graph": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "@id": {
                  "type": "string"
                },
                "@type": {
                  "type": "string"
                },
                "houseName": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "HouseXml": {
        "type": "object",
        "xml": {
          "name": "RDF",
          "prefix": "rdf",
          "namespace": "http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        },
        "properties": {
          "House": {
            "xml": {
              "namespace": "https://id.parliament.uk/schema/"
            },
            "properties": {
              "rdf:about": {
                "type": "string",
                "xml": {
                  "attribute": true
                }
              },
              "houseName": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/collection_by_id.{ext}": {
      "x-type": "hardCoded",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "collection_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/collection_index.{ext}": {
      "x-type": "hardCoded",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/committee_by_id.{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "committee_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/committee_index.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/concept_by_id.{ext}": {
      "x-type": "hardCoded",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "concept_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "ybLgLU6L",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/concept_index.{ext}": {
      "x-type": "hardCoded",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/constituency_a_to_z.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/constituency_by_id.{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "constituency_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "AEyWGYaP",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/constituency_by_initial.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "required": true,
            "example": "a",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/constituency_by_substring.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "substring",
            "in": "query",
            "description": "literal",
            "required": true,
            "example": "nottingham",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/constituency_contact_point.{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "constituency_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "AEyWGYaP",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/constituency_current.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/constituency_current_a_to_z.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/constituency_current_by_initial.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "required": true,
            "example": "a",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/constituency_current_by_proximity_to_point.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "border_range",
            "in": "query",
            "description": "literal",
            "required": true,
            "example": "10",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "centre_point_range",
            "in": "query",
            "description": "literal",
            "required": true,
            "example": "20",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "literal",
            "required": true,
            "example": "51.496130",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "literal",
            "required": true,
            "example": "-0.125718",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/constituency_current_member.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "constituency_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "AEyWGYaP",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/constituency_index.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/constituency_lookup.{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "property",
            "in": "query",
            "description": "schemaUri",
            "required": true,
            "example": "onsCode",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "literal",
            "required": true,
            "example": "E14000699",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/constituency_lookup_by_postcode.{ext}": {
      "x-type": "hardCoded",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/constituency_map.{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "constituency_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "AEyWGYaP",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/constituency_members.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "constituency_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "AEyWGYaP",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/contact_point_by_id.{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "contact_point_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "wk1atnfh",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/contact_point_index.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/exists.{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionNonGraph"
          },
          {
            "$ref": "#/components/parameters/formatNonGraph"
          },
          {
            "name": "uri",
            "in": "query",
            "description": "uri",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/sparql-results+xml": {},
              "application/sparql-results+json": {},
              "text/csv": {},
              "text/tab-separated-values": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/external_id_by_class.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "class",
            "in": "query",
            "description": "schemaUri",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/find_your_constituency.{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/formal_body_by_id.{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "formal_body_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "cLjFRjRt",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/formal_body_index.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/formal_body_membership.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "formal_body_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "cLjFRjRt",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/government_position_index.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionNonGraph"
          },
          {
            "$ref": "#/components/parameters/formatNonGraph"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/sparql-results+xml": {},
              "application/sparql-results+json": {},
              "text/csv": {},
              "text/tab-separated-values": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/group_a_to_z.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/group_by_id.{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "tz34m7Vt",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/group_members_current.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "tz34m7Vt",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/group_by_initial.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "required": true,
            "example": "c",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/group_by_substring.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "substring",
            "in": "query",
            "description": "literal",
            "required": true,
            "example": "sport",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/group_current.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/group_current_a_to_z.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/group_current_by_initial.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "required": true,
            "example": "C",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/group_government_organisation_a_to_z.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/group_government_organisation_by_initial.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "required": true,
            "example": "h",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/group_government_organisation_current.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/group_government_organisation_current_a_to_z.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/group_government_organisation_current_by_initial.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "required": true,
            "example": "h",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/group_government_organisation_index.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/group_houses_index.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "tz34m7Vt",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/group_index.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/group_lookup.{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "property",
            "in": "query",
            "description": "schemaUri",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "literal",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/group_positions_chairs_current.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "tz34m7Vt",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/group_positions_chairs_index.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "tz34m7Vt",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/group_positions_current.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "wZVxomZk",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/group_positions_index.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "wZVxomZk",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/house_by_id.{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/house_by_substring.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "substring",
            "in": "query",
            "description": "literal",
            "required": true,
            "example": "house",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/house_committees_a_to_z.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/house_committees_by_initial.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "required": true,
            "example": "c",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/house_committees_index.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/house_current_committees.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/house_current_committees_a_to_z.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/house_current_committees_by_initial.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "required": true,
            "example": "c",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/house_current_members.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/house_current_members_a_to_z.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/house_current_members_by_initial.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "required": true,
            "example": "c",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/house_current_members_with_mnis_id.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/house_current_parties.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/house_index.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {
                "schema": {
                  "$ref": "#/components/schemas/HouseXml"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/HouseXml"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/HouseXml"
                }
              },
              "application/json+ld": {
                "schema": {
                  "$ref": "#/components/schemas/HouseJson"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HouseJson"
                }
              },
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/house_lookup.{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "property",
            "in": "query",
            "description": "schemaUri",
            "required": true,
            "example": "name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "literal",
            "required": true,
            "example": "House of Lords",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/house_members.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/house_members_a_to_z.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/house_members_by_initial.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "required": true,
            "example": "a",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/house_parties.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/house_party_by_id.{ext}": {
      "x-type": "single",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "party_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1cIxOTTd",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/house_party_current_members.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "party_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1cIxOTTd",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/house_party_current_members_a_to_z.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "party_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1cIxOTTd",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/house_party_current_members_by_initial.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "party_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1cIxOTTd",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "initial",
            "in": "query",
            "description": "literal",
            "required": true,
            "example": "a",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/house_party_members.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "party_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1cIxOTTd",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/n-triples": {},
              "text/turtle": {},
              "text/vnd.graphviz": {},
              "application/rdf+xml": {},
              "application/xml": {},
              "text/xml": {},
              "application/json+ld": {},
              "application/json": {},
              "application/json+rdf": {},
              "text/html": {},
              "application/xhtml+xml": {}
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/house_party_members_a_to_z.{ext}": {
      "x-type": "list",
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/Ocp-Apim-Subscription-Key"
          },
          {
            "$ref": "#/components/parameters/fileExtensionGraph"
          },
          {
            "$ref": "#/components/parameters/formatGraph"
          },
          {
            "name": "house_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1AFu55Hs",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "party_id",
            "in": "query",
            "description": "instanceUri",
            "required": true,
            "example": "1cIxOTTd",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
[...]
