<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="RemoveAttributes(file)"></appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <httpRuntime xdt:Transform="SetAttributes(enableVersionHeader)" enableVersionHeader="false" />
  </system.web>
  <system.webServer>
    <httpProtocol xdt:Transform="InsertIfMissing">
      <customHeaders>
        <remove name="X-Powered-By" xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing"/>
      </customHeaders>
    </httpProtocol>
    <rewrite xdt:Transform="InsertIfMissing">
      <rules>
        <rule name="Redirect to https">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="Off"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
        </rule>
      </rules>
    </rewrite>    
  </system.webServer>
</configuration>


